<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости по теме банкинга</title>
</head>
<body>
<header style="background-color: #f5f5f5; color: #333; padding: 10px; text-align: center;">
    <img src="/web/static/images/logo.jpg" alt="iBanking Logo" style="margin-top: 10px; max-width: 100px;">
    <div style="margin-top: 20px;">
        <a href="/web/start" style="display: inline-block; padding: 10px 20px; margin: 0 10px; background-color:
         #cc0000; color: #fff; text-decoration: none; border-radius: 5px;">Главная</a>
        <a href="/web/news" style="display: inline-block; padding: 10px 20px; margin: 0 10px; background-color:
         #cc0000; color: #fff; text-decoration: none; border-radius: 5px;">Новости</a>
        <a href="/web/currency" style="display: inline-block; padding: 10px 20px; margin: 0 10px; background-color:
         #cc0000; color: #fff; text-decoration: none; border-radius: 5px;">Курс валют</a>
        <a href="/web/form" style="display: inline-block; padding: 10px 20px; margin: 0 10px; background-color:
         #cc0000; color: #fff; text-decoration: none; border-radius: 5px;">Регистрация</a>
        <a href="/web/enter" style="display: inline-block; padding: 10px 20px; margin: 0 10px; background-color:
        #cc0000; color: #fff; text-decoration: none; border-radius: 5px;">Профиль/Войти</a>
    </div>
</header>

<h1>Последние новости iBanking</h1>

<article>
    <h2>iBanking запускает новую цифровую платформу для клиентов</h2>
    <p>iBanking представляет инновационную цифровую платформу, которая облегчит банковские операции для клиентов.
        Платформа предлагает новые возможности для онлайн-банкинга и управления счетами.</p>
</article>

<hr>

<article>
    <h2>Исследование: Тенденции в развитии банковского сектора в будущем году</h2>
    <p>Новое исследование анализирует прогнозы для банковской индустрии в следующем году. Эксперты делают предсказания
        относительно цифровых инноваций, изменений в потребительском поведении и стратегий конкуренции.</p>
</article>

<hr>

<article>
    <h2>Как выбрать подходящий банковский продукт: Советы для потребителей</h2>
    <p>Сравнение различных банковских продуктов может быть сложной задачей. Эта статья предоставляет советы потребителям
        о том, как выбрать наилучший банковский продукт в соответствии с их потребностями.</p>
</article>

<hr>

<article>
    <h2>Банковские тренды: Что ожидать в ближайшем будущем</h2>
    <p>Новости о последних трендах в банковской сфере. Эксперты обсуждают влияние технологий, изменения
        в законодательстве и ожидания клиентов на будущее банковское дело.</p>
</article>

<style>
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #f5f5f5;
        color: #333;
        padding: 10px;
        text-align: center;
    }
</style>

<footer style="background-color: #f5f5f5; color: #333; padding: 10px; text-align: center; margin-top: 20px;">
    Телефон для справок: 911 <br>
    Лучший банк в вашем городе! <br>
    <p style="font-size: 8px;">by Nikita Yakimovich</p>
</footer>
</body>
</html>